<!DOCTYPE html>
<html>
<head>
	<title>Joon's App Board</title>
	<meta charset="utf-8">
	<style>
		a{text-decoration:none}
	</style>
</head>
<body>
<center>
<font color='gray' size='4' face='맑은 고딕'>
<hr width='600' size='2' color='gray' noshade>
<h3>Joon's App Board</h3>
<font color='gray' size='4' face='맑은 고딕'>
<a href="{% url 'index' %}">홈</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'board_write' %}">글쓰기</a><br/>
</font>
<hr width='600' size='2' color='gray' noshade>

<table border='2' width='600' align='center'>
<tr align='center' bgcolor='AliceBlue'>
	<th bgcolor='AliceBlue'>no</th>
	<th>writer</th>
	<th>e-mail</th>
	<th>subject</th>
	<th>date</th>
	<th>delete</th>
</tr>

{% for board in boards %}
    <tr align='center'>
		<td>{{ board.id }}</td>
		<td>{{ board.writer }}</td>
		<td>{{ board.email }}</td>
	    <td>
	      <a href="{% url 'board_content' board.id %}">
		    {{ board.subject }}
		  </a>
		</td>
		<td>{{ board.rdate|date:"Y-m-d" }}</td>
		<td>
		  <a href="{% url 'board_delete' board.id %}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
		</td>
	   </tr>
{% empty %}
<tr align='center'>
	<td colspan="6">등록된 글이 없습니다.</td>
</tr>
{% endfor %}

</table>
</center>
</body>
</html>