<!DOCTYPE html>
<html>
<head>
	<title> Django Board </title>
	<meta charset="utf-8">
	<style>
		a{text-decoration:none}
	</style>
	
	<script>
	    function check() {
	        if (document.input.subject.value.trim() === "") {
	            alert("제목을 입력해주세요.");
	            document.input.subject.focus();
	            return false;
	        }
	        if (document.input.content.value.trim() === "") {
	            alert("내용을 입력해주세요.");
	            document.input.content.focus();
	            return false;
	        }
	        document.input.submit();
	    }
	</script>
</head>
<body>
<center>
<font color='gray' size='4' face='휴먼편지체'>
<hr width='600' size='2' color='gray' noshade>
<h3> Django Board</h3>
</font>
<font color='gray' size='4' face='휴먼편지체'>
<a href="{% url 'board_list' %}">목록</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'board_write' %}">글쓰기</a><br/>
</font>
<hr width='600' size='2' color='gray' noshade>
</center>

<form name='input' method='post' action="{% url 'board_update_ok' board.id %}">
	 {% csrf_token %}
<input type="hidden" name="seq" value="{{ board.id }}">
<table border='0' width='600' align='center' cellpadding='3' cellspacing='1' bordercolor='gray'>	
<tr>
   <td width='20%' align='center' >WRITER</td>
   <td>
      <input name='writer' readonly value="{{ board.writer }}"/>
   </td>
</tr>

<tr>
	<td align='center'>EMAIL</td>
	<td><input name='email' readonly value="{{ board.email }}"/></td>
</tr>

<tr>
	<td align='center'>SUBJECT</td>
	<td><input name='subject' value="{{ board.subject }}"/></td>
</tr>
			
<tr>
	<td align='center'>CONTENT</td>
	<td><textarea id='ta' name='content' rows='15' cols='70'>{{ board.content }}</textarea></td>
</tr>
<tr>
	 <td colspan='2' align='center'>
		<input type='button' value='수정' onclick="check()">
		<input type="reset" value="다시입력">
	 </td>
</tr>

</table>
<hr width="600" size="2" color="gray" noshade>
</form>
</body>
</html>

