<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Joon's App Board</title>
</head>
<body>
<center>
	<h3>글 수정</h3>
	<form method="post" action="{% url 'board_update_ok' board.id %}">
		{% csrf_token %}
		<table border="1" width="600">
			<tr>
				<td width="20%" align="center">Writer</td>
				<td>{{ board.writer }}</td>
			</tr>
			<tr>
				<td align="center">Subject</td>
				<td><input type="text" name="subject" value="{{ board.subject }}" size="60"></td>
			</tr>
			<tr>
				<td align="center">Content</td>
				<td><textarea name="content" rows="10" cols="60">{{ board.content }}</textarea></td>
			</tr>
		</table>
		<p><input type="submit" value="수정완료"></p>
	</form>
	<a href="{% url 'board_content' board.id %}">취소</a>
</center>
</body>
</html>