<!DOCTYPE html>
<style>
    a {text-decoration:none}
</style>
<center>
    <h1> Joon's App</h1>
    <a href="list"> 주소록 </a></br></br>
    <a href ="join">회원가입(이메일 중복체크)</a></br></br>
    <a href="template1">변수</a></br>
    <a href="template2">tag1</a></br>
    <a href="template3">tag2</a></br></br>
    <a href="board/list">게시판</a></br></br>

    <!-- user: {{request.session.user}} -->
    {% if request.session.user %}
        <a href="logout"> 로그아웃</a></br>
    {% else %}
        <a href="login">로그인</a></br>
    {% endif %}
</center>