<p>
{% for x in fruits %}
    <div>{{x}}</div>
{% endfor %}
</p>

<p>
{% for x in cars %}
    <div>{{x.brand}} / {{x.model}} / {{x.year}}</div>
{% endfor %} 
</p>

<p>
{% for address in addresses %}
<span style="font-weight:bold">{{address.id}}</span>
{{address.name}} / {{address.addr}} / {{address.rdate}}<br/>
{% endfor %}
</p>

<p>
{% for address in addresses reversed %}
<span style="font-weight:bold">{{address.id}}</span>
{{address.name}} / {{address.addr}} / {{address.rdate}}<br/>
{% endfor %}
</p>

<p>
{% for address in addresses %}
<span style="font-weight: bold">{{address.id}}</span>
{{address.name}} / {{address.addr}} / {{address.rdate}}<br/>
{% empty %}
    No address
{% endfor %}
</p>

<!-- forloop의 counter, counter0, revcounter, revcounter0, first, last  -->
<p>
{% for x in fruits %}
    <div>{{x}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div>{{forloop.counter}} {{x}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div>{{forloop.counter0}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div {% if forloop.first %}
        style='background-color:pink'
        {% endif %}>{{x}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div {% if forloop.last %}
        style='background-color:yellow'
        {% endif %}>{{x}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div>{{forloop.revcounter}} {{x}}</div>
{% endfor %}
</p>

<p>
{% for x in fruits %}
    <div>{{forloop.revcounter0}} {{x}}</div>
{% endfor %}
</p>